.about-page {
    margin: 0 104px;
    font-size: 16px;
    color: $dark-blur;
    font-family: $bodyFont;
    margin-top: 98px;
    margin-bottom: 112px;

    .slogan {
        margin-bottom: 54px;
    }

    .team-work {
        margin-top: 84px;

        &-heading {
            margin: 0 24px;
            margin-bottom: 32px;

        }

        &-title {
            margin: 0 24px;
            display: flex;
            gap: 0 250px;
            margin-bottom: 87px;
            align-items: flex-end;

            .team-slogan {
                margin-right: 103px;
                max-width: 416px;
                font-weight: 400;
                line-height: 150%
            }

            .team-title {
                text-align: start;
                max-width: 500px;
                line-height: 133%;
                font-weight: 700;
            }
        }

        .work-steps {
            display: flex;
            gap: 0 16px;

            .work-step {

                padding: 24px;
                border-radius: 16px;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                max-width: 33%;
                min-height: 450px;

                &-content {
                    margin-bottom: 16px;

                    &-number {
                        font-variant-numeric: lining-nums proportional-nums;
                        font-family: $headerFont;
                        font-size: 72px;
                        font-weight: 700;
                        line-height: 133%;

                        margin-bottom: 8px;
                    }

                    &-name {
                        font-variant-numeric: lining-nums proportional-nums;
                        font-weight: 700;
                        line-height: 133%;
                        color: $pupleColor;
                        margin-bottom: 16px;
                    }

                    &-overview {
                        font-weight: 400;
                        line-height: 150%
                    }
                }

                &-more {
                    display: none;
                    border: none;
                    background-color: $pageColor;
                    color : $dark;
                    padding: 2px;
                    font-size: 14px;
                    border-bottom: 4px solid $dark;
                    cursor: pointer;
                }

                &:hover {
                    background-color: $pupleColor;
                    color: $light;
                    .work-step-content-number {
                        color: $light
                    }

                    .work-step-content-name {
                        color: $light;
                    }

                    .work-step-content-overview {
                        opacity: 0.7;
                    }

                    .work-step-more {
                        background-color: $pupleColor;
                        display: block;
                        color: $light;
                        border-color: $light;
                    }
                }
            }

        }

    }

    @media screen and (min-width : 700.1px) and (max-width : 1200px) {
        margin: 0px 72px;
        margin-top: 74px;
        font-size: 11px;

        .slogan {
            margin-bottom: 0;
        }

        .team-work {
            margin: 70px 0;

            &-heading {
                margin: 0 17px;
                margin-bottom: 24px;

            }

            &-title {
                margin: 0px 17px;
                margin-bottom: 42px;
                gap: 0 135px;

                .team-title {
                    font-size: 34px;
                    max-width: 40%;
                }
            }

            .work-steps {
                display: flex;

                gap: 0 16px;

                .work-step {

                    padding: 17px;
                    border-radius: 16px;
                    position: relative;
                    min-height: 300px;

                    &-content {

                        &-number {
                            font-size: 50px;
                            margin-bottom: 5px;
                        }

                        &-name {
                            font-size: 17px;
                            margin-bottom: 11px;
                        }

                        &-overview {
                            margin-bottom: 23px;
                        }
                    }

                    &-more {
                        display: block;
                        font-size: 10px;
                    }

                }
            }
        }
    }

    @media screen and (max-width: 705px) {
        margin: 60px 24px;
        margin-top: 74px;
        font-size: 11px;

        .slogan {
            margin-bottom: 0;
        }

        .team-work {
            margin: 60px 0;

            &-heading {
                margin: 0 17px;
                margin-bottom: 12px;

            }

            &-title {
                display: block;
                margin: 0px 17px;
                margin-bottom: 60px;

                .team-title {
                    font-size: 24px;
                    max-width: 100%;
                    margin-bottom: 12px;
                }
            }

            .work-steps {
                display: block;

                .work-step {

                    padding: 17px;
                    border-radius: 16px;
                    min-height: 300px;
                    max-width: 100%;
                    &-content {

                        &-number {
                            font-size: 50px;
                            margin-bottom: 5px;
                        }

                        &-name {
                            font-size: 17px;
                            margin-bottom: 11px;
                        }

                        &-overview {
                            margin-bottom: 23px;

                        }
                    }

                    &-more {
                        display: block;
                        font-size: 10px;
                    }

                }
            }
        }
    }
}