$headerFont : "Raleway";
$bodyFont : "Roboto";
$pupleColor : #7C4EE4;
$dark : #333;
$dark-blur : #666;
$dark-light : #999;
$light : #fff;
$pageColor : #FAFAFA;
$inputOutlineColor : #C4C4C4;
$formLabelColor : #4c4c4c;
$footerColor : #150E06;
$successColor : #87AAFA;
$outlineMobileColor : #DBDBDB;